#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List pupluar languages for Data Science 
+ List commonly used libraries Data Science 
+ List tools for Data Science

Some of the popular languages that Data Scientists use are:  
1.Python  
2.R  
3.Julia

Some of the commonly used libraries used by Data Scientists include:  
1.ggplot  
2.Pandas     
3.Matplotlib     
4.Scikit-learn  
5.TensorFlow  
6.Apache Spark  
7.BigDL

|Data Science Tools|
|----------|
|Jupyter|
|Jupyter Lab|
|R|
|Rstudio|

###Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

##Author  
Tracey